<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<style></style>
<body>
    <style>
        body {
            background: azure;
        }
        th {
            text-align: left;
        }

    </style>
    <h1>Did you find akk your tag pairs</h1>
    <h2>How long did it take us?</h2>
    <h3>There were 20 something pairs in total</h3>
    <h6>This is my last heading test.</h6>
    <br/>
    <p>Here's what we ate in the potluck yesterday</p>
<ul>
    <li>Lasagna</li>
    <li>Dick Donuts</li>
    <li>Keylime Pie</li>
    <li>Chips</li>
    <li>Dunkin Donuts</li>
    <li>Drinks</li>
</ul>

    <img src="" alt="">


    <h2><p><a href="">Here are some ideas for <b>summer potluck</b> parties</a></p></h2>

    <br/>
    <form action="#">
        Name: <input type="text"><br>
        Food I brought: <textarea cols="54" rows="5"></textarea><br>

        <input type="submit"></input>
        <button type="button">Cancel</button>
    </form>
    <br/>
    <br/>
    <table style="width:50%">
        <!---comments--->
        <tr>
            <th>Staff</th>
            <th>Their Favorites</th>
        </tr>
        <tr>
            <td>Jen</td>
            <td>Green Tea Ice Cream</td>
        </tr>
        <tr>
            <td>Sherry</td>
            <td>Chai tea bubble tea</td>
        </tr>
        <tr>
            <td>AJ</td>
            <td>Olivia macarons</td>
        </tr>
    </table>

</body>
</html>